<%= form_for(@foo) do |f| %>
  <% if @foo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foo.errors.count, "error") %> prohibited this foo from being saved:</h2>

      <ul>
      <% @foo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.check_box :active, :label => 'Status', :inline_label => 'Active' %>
  <%= f.select :style, [select_prompt, "foo", "bar"], :label => 'Select a Style' %>
  <%= f.date_select :due_date, :order => [:month, :day, :year] -%>
 <%= f.submit %>

<% end %>
